__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git/
.gitignore

# Wichtig: Lokale Daten nicht ins Image kopieren, da sie via Volume gemountet werden
data/
logs/
Dockerfile
docker-compose.yml
README.md
.env