# Python
__pycache__/
*.py[cod]
*.so
.venv
env/
venv/
alt_*.py

# Environment Variables
.env

# Application Data & Logs
logs/
data/orders
.coverage

#Mac Files
.DS_Store

#Konfiguration
settings.yaml
