# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Flask
instance/
.webassets-cache

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Logs
*.log

# MacOS
.DS_Store

# Databases
*.sqlite3
*.db
*.csv

# import/output files
imports/
exports/