cachetools==7.1.7
Flask==3.0.0
gunicorn==26.0.0
lxml==6.1.1
numpy==2.5.2
matplotlib==3.11.1
pandas==3.0.5
python-dotenv==1.2.1
PyYAML==6.0.3
tabulate==0.10.0
tvdatafeed @ git+https://github.com/semoi/tvdatafeed.git@fc4e59ec0f96703bc5be253f265599055a29b330
yfinance==1.7.0
