APScheduler==3.11.2
Flask==3.1.3
Flask-Caching==2.3.1
Flask-Limiter==4.1.1
gunicorn==25.1.0
lxml==6.1.0
numpy==2.4.0
pandas==2.3.3
plotly==6.5.2
python-dotenv==1.2.2
pytz==2025.2
PyYAML==6.0.3
scipy==1.18.0
tabulate==0.9.0
yfinance==1.4.0
tvdatafeed @ git+https://github.com/rongardF/tvdatafeed.git

